{% extends "lab_10/layout/base.html" %}
{% block header %}
    {% include "lab_10/partials/header.html" %}
{% endblock %}

{% block content %}
<body style = 'background-color :#DAF7A6'>
<div class="row">
    <!--h1> Catatan : Buatlah halaman detail movie sesuai selera dan kreatifitas kalian </h1>

    <br>
    <h2> Raw Data (json) </h2-->
    <!--p> {{ movie }} </p-->
    <!--hr>
    <h2> Contoh cara mengambil judul: </h2>
    <h1 style="color:red"> {{ movie.title}} </h1-->
    <h1 align = "center"> Title  : {{movie.title}} </h1>
    <h1 align = "center"> Actors : {{movie.actors}} </h1>
    <h1 align = "center"> Released date : {{movie.released}} </h1>
    <h1 align = "center"> Rating : {{movie.imdbrating}} </h1>
    <img class = "center-block" src = {{movie.poster}}>


    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success center-block"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
</body>
{% endblock %}
