{% extends "lab_10/layout/base.html" %}
{% block header %}
    {% include "lab_10/partials/header.html" %}
{% endblock %}


{% block content %}
<body style = "background-color : pink">
<h1> Daftar Watch Later </h1>
<div class="row">
    {% for movie in watch_later_movies %}
    	<h1 align = "center"> Title  : {{movie.title}} </h1>
    	<h1 align = "center"> Released date : {{movie.released}} </h1>
    	<img class = "center-block" src = {{movie.poster}}>
    	<br/>
    	<h1 align = "center"> ***</h1>
    	<br/>
    {% endfor %}
</div>
</body>
{% endblock %}
