{% extends "lab_8/layout/base.html" %}


{% block content %}
    <div style = "margin-top : 70px" id = "lab8"> </div>

    <!--button onclick="facebookLogin()">Login with Facebook</button-->
    <!--button onclick="postFeed()">Post Feed</button-->
    <!--button onclick="facebookLogout()">Logout from Facebook</button-->
{% endblock %}

{% block javascript %}
<script>
    

 window.fbAsyncInit = function() {
  FB.init({
    appId      : '1585520931532697',
    cookie     : true,
    xfbml      : true,
    version    : 'v2.11'
  });


  FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
      render(true);
    }
    else {
      render(false);
    }
  });
};


(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "https://connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
  
function facebookLogin(){
     FB.login(function(response){
       console.log(response);
       console.log("haha");
       render(true);
     }, {scope:'public_profile,user_posts,publish_actions'})
   }

const getUserData = (fun) => {
  console.log("masuk func getUserData");
   FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          FB.api('/me?fields=id,name,about,gender,cover,picture,email', 'GET', function(response){
            fun(response);
            console.log(response);
          });
        }
    });
}

function getUserFeed(fun){
      FB.api("me/feed", function(response){
    console.log(response);
    if (response && !response.error) {
      fun(response);
    }
    else
      alert("Failed to get UserFeed");
  });
}


function postFeed(message){
     FB.api('/me/feed', 'POST', {message:message});
 }

function postStatus () {
  var message = $('#postInput').val();
  postFeed(message);
  location.reload();
}


function facebookLogout(){
     FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          FB.logout();
        }
    render(false);
     });
 }

  const render = loginFlag => {
    if (loginFlag) {
        console.log("masuk if loginFlag");
      // Jika yang akan dirender adalah tampilan sudah login

      // Memanggil method getUserData (lihat ke bawah) yang Anda implementasi dengan fungsi callback
      // yang menerima object user sebagai parameter.
      // Object user ini merupakan object hasil response dari pemanggilan API Facebook.
      getUserData(user => {
        console.log("masuk get dataUser");
        // Render tampilan profil, form input post, tombol post status, dan tombol logout
        $('#lab8').html(
          '<button style = "background-color : #C0AC70"  class="logout center-block" onclick="facebookLogout()">Logout</button>' + '<br/>' + '<br/>' + 
          '<div class="profile">' +
            '<img style = "border-radius : 4px" align = "middle" class="cover center-block" src="' + user.cover.source + '" alt="cover" />' + '<br/>' +
            '<img style = "border-radius : 50%"align = "middle" class="picture center-block" src="' + user.picture.data.url + '" alt="profpic" />' +
            '<div class="data">' +
              '<h1 style = " margin-left : auto ; margin-right : auto;height : 50% ;width : 35%; border-radius: 4px; background-color : #5F4B11; color : #EBDAAA" align = "center">' + user.name + '</h1>' +
              '<h3 style = " margin-left : auto ; margin-right : auto;;height : 50% ; width : 35%; border-radius: 4px; background-color : #5F4B11; color : #EBDAAA" align = "center">'+  user.gender + '</h3>' +
            '</div>' +
          '</div>' + '<br/>' +  '<br/>' + 
          '<h1 style = " margin-left : auto ; margin-right : auto;height : 50% ;width : 35%; border-radius: 25px; color : #5F4B11" align = "center">' + '<-- Status -->' + '</h1>' +
          '<input id="postInput" type="text" class="post center-block" placeholder="Ketik Status Anda" />' + '<br/>' +
          '<button style = "background-color : #C0AC70"  class="postStatus center-block" onclick="postStatus()">Post ke Facebook</button>' + '<br/>'
        );

        // Setelah merender tampilan di atas, dapatkan data home feed dari akun yang login
        // dengan memanggil method getUserFeed yang kalian implementasi sendiri.
        // Method itu harus menerima parameter berupa fungsi callback, dimana fungsi callback
        // ini akan menerima parameter object feed yang merupakan response dari pemanggilan API Facebook
        getUserFeed(feed => {
          feed.data.map(value => {
            // Render feed, kustomisasi sesuai kebutuhan.
            if (value.message && value.story) {
              $('#lab8').append(
                '<div class="feed">' +
                  '<h1 style = " font-size : small ; margin-left : auto ; margin-right : auto;height : 50% ;width : 25%; border-radius: 15px; background-color : #C0AC70" align = "center">' + value.message + '</h1>' +
                  '<h2 style = " font-size : small ;margin-left : auto ; margin-right : auto;height : 50% ;width : 25%; border-radius: 15px; background-color : #C0AC70" align = "center">' + value.story + '</h2>' +
                '</div>'
              );
            } else if (value.message) {
              $('#lab8').append(
                '<div class="feed">' +
                  '<h1 style = " font-size : small ;margin-left : auto ; margin-right : auto;height : 50% ;width : 25%; border-radius: 15px; background-color : #C0AC70" align = "center">' + value.message + '</h1>' +
                '</div>'
              );
            } else if (value.story) {
              $('#lab8').append(
                '<div class="feed">' +
                  '<h2 style = " font-size : small ; margin-left : auto ; margin-right : auto;height : 50% ;width : 25%; border-radius: 15px; background-color : #C0AC70" align = "center">' + value.story + '</h2>' +
                '</div>'
              );
            }
          });
        });
      });
    } else {
      // Tampilan ketika belum login
      $('#lab8').html('<button style = "background-color : #C0AC70" class="login center-block" onclick="facebookLogin()">Login</button>');
    }
  };




</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
{% endblock %}
