{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    .for_header {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 35%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<h3 class = "for_header" style="text-align: center; font-size : 40px; color :  #5d0c0c ">My Personal info</h3>
<table class = "center_screen" align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td style = "color :  #f32c7d ; background-color :  #f8f3c4" class="subject">{{ bio.subject }}</td>
            <td style = "color :  #f32c7d ; background-color :  #f8f3c4"class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
