{% extends "lab_4/layout/base.html" %}
{% block title %} Pesan dari {{ name }} {% endblock %}
{% block content %}
<textarea readonly rows="5" class="form-control">&quot;{{message}}&quot;-{{name}} 
    by {{ email }}
</textarea>
{% endblock %}

<footer>
        <!-- TODO Block Footer dan include footer.html -->
      <!--  {% block footer %} -->
        {% include "lab_4/partials/footer.html" %}
      < {% endblock %}
</footer>