{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<hr/>
<style>
    .img-circle{
        border-radius : 50%;
    }

</style>
<section name="bio">
    <img class="img-circle" src="https://koreaboo.global.ssl.fastly.net/wp-content/uploads/2017/06/WBB-texting.jpg" alt="myself" height="150px" width="150px" align="right">
    <br/>
    <br/>
    <br/>
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>Daily Life</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Leave Me A Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button style = "background-color: #dfa53a; border : none; color : white; text-align = center" type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
<hr/>

{% endblock %}
