{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center; color :#5d0c0c">My Personal Diary</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th style = "color :  #f32c7d ; background-color :  #f8f3c4">Date</th>
                <th style = "color :  #f32c7d ; background-color :  #f8f3c4">Activity</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td style = "color :  #f32c7d ; background-color :  #f8f3c4" class="date">{{ diary_data.date }}</td>
                    <td style = "color :  #f32c7d ; background-color :  #f8f3c4" class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td style = "color :  #f32c7d ; background-color :  #f8f3c4">
                        Date
                    </td>
                    <td style = "color :  #f32c7d ; background-color :  #f8f3c4">
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td style = "color :  #f32c7d ; background-color :  #f8f3c4">
                        Activity
                    </td>
                    <td style = "color :  #f32c7d ; background-color :  #f8f3c4">
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button style = "background-color: #ee4470; border : none; color : white; text-align = center" type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
