{% extends "lab_6/layout/base.html" %}


{% block content %}
    <!-- ChatBox Section -->
    <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
             </div>
             <div class="chat-body">
                <div class="msg-insert">
                <textarea id = 'chat-room' style = "height : 360px ; width : 295px ; border : 0px ;" align = right></textarea>
                </div>
                <div class="chat-text">
                   <textarea placeholder="Press Enter" id = "chat-msg" onkeypress="chatting(event)"></textarea>
                    <script>
                      function chatting(e){
                        if(e.keyCode == 13){
                          var msg = document.getElementById('chat-msg').value;
                          document.getElementById('chat-room').value += msg+"\n";
                          document.getElementById('chat-msg').value = "";
                          e.preventDefault();
                        }
                      }
                    </script>
                </div>
             </div>
          </div>
       </div>
    </section>

    <section name = "Select theme">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
      <select class="my-select" style = "width : 80px"></select>
      <button class="apply-button">apply</button>      
    </section>

    {% endblock %}
