{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list" style="margin-left:475px">
        <div class="container" >
            <div class="row" >
                <div class="col-md-8 col-lg-8" >
                    <h2 style="margin-left:90px"> Daftar Teman</h2>
                    <div id="friend-list" class="list-group" >

                    </div>
                </div>
            </div>
        </div>
        <a style="margin-left:100px"class='btn' href = "/lab-7">kembali ke halaman awal</a>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (response) {
                    {% for friend in friend_list %}
                        $( "#friend-list" ).append( "<a  style='width : 400px ' class = 'list-group-item clearfix'> {{ friend.friend_name }} ({{ friend.npm }})</a>" );
                    {% endfor %}
                },
                error: function(error){
                    alert("Tidak bisa menampilkan ")
                }
            });
        });
    </script>
{% endblock %}
