<body style = "background-color:  #7a7ea2 ">
	<h2 padding = "30px"style = "color :  #0a0d34 ; margin-left : 575px ;margin-top : 250px"> Friends Forever :) </h2> 
	<style>
		table, th, td{
			text-align: center;
			color:  #caccde 
		}
		th{
			height: 35px;
			width:30%;
		}
		td{
			height: 35px;
		}
		tr:hover{
			background-color:  #7a7ea2 ;
			height: 50px;
		}
		.grow{
		 	transition: all .3s ease-in-out;
		}
		.grow:hover{
			 transform: scale(1.1); 
		}
</style>
	<table style="margin-left : 555px ">
		<tr class = "grow grow:hover">
		<td>Your friend name is {{friend.friend_name}}</td>
		</tr>
		<tr class = "grow grow:hover">
		<td>Your friend ID is {{friend.npm}}</td>
		</tr>
	</table>

	<a style = "color :#0a0d34 ; margin-left : 585px" class='btn' href = "/lab-7">kembali ke halaman utama</a>
</body>